{% extends "index.html" %}
{% block results %}
  <table class="pure-table pure-table-bordered">
    <thead>
      <tr>
          {% for i in label %}
            <th>{{i}}</th>
          {% endfor %}
            <th>delete</th>
      </tr>
    </thead>
    <tbody>
    {% for i in data %}
        <tr>
        {% for j in i %}
          <td>{{j}}</td>
        {% endfor %}
        {% if i|length == 5 %}
          <td>
              <form action="http://localhost:80/delete" method="POST"><p><input name="{{ loop.index0 }}" type="submit" value="DELETE" /></p></form>
          </td>
        {% endif %}
        </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}